<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="movieland" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_FILE}.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
	        <maxFileSize>5MB</maxFileSize>
	    </rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
	    </encoder>
	</appender> 

	<root level="debug">
	  <appender-ref ref="FILE" />
	</root>
</configuration>